[submodule "SUBMODULES/JUCE"]
	path = SUBMODULES/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "SUBMODULES/RD_DSP"]
	path = SUBMODULES/RD_DSP
	url = https://github.com/recluse-audio/RD_DSP.git
[submodule "SUBMODULES/PLUGIN_SCRIPTS"]
	path = SUBMODULES/PLUGIN_SCRIPTS
	url = https://github.com/recluse-audio/PLUGIN_SCRIPTS.git
